@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #ffffff;
    --color-card: #f4f4f5;
    --color-border: #e4e4e7;
    --color-text: #18181b;
    --color-muted: #71717a;
  }
  
  .dark {
    --color-bg: #09090b;
    --color-card: #18181b;
    --color-border: #27272a;
    --color-text: #f4f4f5;
    --color-muted: #a1a1aa;
  }
  
  body {
    @apply bg-bg text-text selection:bg-accent selection:text-black;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 215, 0, 0.3);
  }
}
